.my-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__nav {
    display: flex;
    margin-bottom: 1em;
  }

  form.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label,
    input,
    button {
      margin-top: 1em;
      text-align: center;
    }
    label {
      text-transform: uppercase;
    }
    input {
      flex-basis: 50px;
      width: 300px;
    }
    button {
      margin-top: 2em;
      padding: 0.75em 3em;
    }
    .form__group {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    display: grid;
    gap: 20em;
  }
}

// fsdkfslk

#settings {
  margin-bottom: 90px;
}

.me {
  display: flex;
  flex-direction: column;
  gap: 1em;

  h4 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: normal;
  }

  &__photo {
    width: 50%;
    // border-radius: 100%;
    padding: 1em;
    margin: 0 auto;
    border: 2px solid var(--secondary-color);
  }
}
