.my-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__nav {
    display: flex;
    margin-bottom: 1em;
  }

  form.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label,
    input,
    button {
      margin-top: 1em;
      text-align: center;
    }
    label {
      text-transform: uppercase;
    }
    input {
      flex-basis: 50px;
      width: 300px;
    }
    button {
      margin-top: 2em;
      padding: 0.75em 3em;
    }
    .form__group {
      display: flex;
      flex-direction: column;
    }
  }
}
// fsdkfslk
