.print-ticket {
  display: grid;
  place-items: center;
  height: 100vh;
  //   background-color: red;
  text-align: center;

  &__border {
    padding: 2em 1em;
    background-color: white;
    border: 1px dotted black;
    width: 300px;
    // height: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-template-areas:
      ". logo logo logo  ."
      ". type type type ."
      ". barcode barcode barcode  ."
      "name name name name name"
      "company company company company company"
      "profile profile profile profile profile"
      "country country country country country";
  }

  &__logo {
    grid-area: logo;
  }
  &__type {
    grid-area: type;
    font-size: 2em;
    text-transform: uppercase;
  }
  &__barcode {
    grid-area: barcode;
  }
  &__name {
    grid-area: name;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  &__company {
    grid-area: company;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  &__profile {
    grid-area: profile;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  &__country {
    grid-area: country;
    font-size: 0.8em;
    text-transform: uppercase;
  }
}
