footer.footer 
    .tabs 
        nav.nav 
            ul  
                if user         
                    li.nav__item.list-exhibitor: i.fas.fa-user
                    //- li.nav__item.list-visited: i.fas.fa-handshake
                    li.nav__item.exhibitors-layout: i.fas.fa-map
                    li.nav__item.list-sorted: i.fas.fa-sort
                    //- li.nav__item.list-searched: i.fas.fa-search
                else 
                    li.nav__item.go-to-login: i.fas.fa-user
                    //- li.nav__item.go-to-login: i.fas.fa-handshake
                    li.nav__item.go-to-login: i.fas.fa-map
                    li.nav__item.go-to-login: i.fas.fa-sort
                    //- li.nav__item.go-to-login: i.fas.fa-search


