footer.footer 
    .tabs 
        nav.nav 
            ul
                li.nav__item: i.fas.fa-heart
                li.nav__item: i.fas.fa-handshake
                li.nav__item: i.fas.fa-sort
                li.nav__item: i.fas.fa-search

include _modal
