footer.footer 
    .tabs 
        nav.nav 
            ul
                li.nav__item.list-exhibitor: i.fas.fa-users
                li.nav__item.list-visited: i.fas.fa-map
                li.nav__item.list-sorted: i.fas.fa-sort
                li.nav__item.list-searched: i.fas.fa-search


