header.header 
    .container
        #logo.logo 
            img(src="https://www.vpexpodubai.com/wp-content/uploads/2021/01/vp-expo-logo.png", alt="")
            p.hidden 26-27-28 October, 2021 | Festival Arena Exhibition Centre, Dubai
        button.menu.menu--squeeze(type=button)
            span.menu__inner

    .navigation.hidden
        nav.nav 
            ul
                li.nav__item.list-exhibitor.test-exhibitor
                    a.nav__link(href="#") List Exhibitors
                li.nav__item.modal-link
                    a.nav__link(href="#") Exhibition Layout
                li.nav__item
                    a.nav__link(href="#") VP Awards
                li.nav__item
                    a.nav__link(href="#") VP Academy





