header.header 
    .container
        #logo.logo 
            a(href="/")
                img(src="/images/vp-expo-logo.png", alt="")
            p.hidden 26-27-28 October, 2021 | Festival Arena Exhibition Centre, Dubai
        button.menu.menu--squeeze(type=button)
            span.menu__inner

    .navigation.hidden
        nav.nav 
            ul
                li.nav__item.list-exhibitor
                    a.nav__link(href="/exhibitors") List Exhibitors
                li.nav__item.modal-link
                    a.nav__link(href="#") Exhibition Layout
                li.nav__item
                    a.nav__link(href="#") VP Awards
                li.nav__item
                    a.nav__link(href="#") VP Academy
                if user
                    li.nav__item
                        a.nav__link.my-account(href="/me") My VP Account
                    li.nav__item
                        a.nav__link.logout(href="#") Log Out
                else
                    li.nav__item
                            a.nav__link(href="/login") Log In




