.modal.hidden 
    button.close X 
    .modal__content 
        p.notice This section/feature will be available during the event 
        form.login(action="")
            label(for="user-input") Type in your mobile number or email id 
            input(type="text" name="user-input")
            label(for="otp") Type in the OTP received on your registered email and mobile 
            input(type="tel" name="otp")
            button.submit(type="submit") Submit   
.overlay.hidden

//- <div class="modal hidden">
//-         <button class="close">X
//-         </button>
//-         <div class="modal__content">
//-             <p class="notice">This section/feature will be available during the event</p>
//-             <form action="" class="login">
//-             <label for="user-input">Type in your mobile number or email id</label>
//-             <input type="text" name="user-input">
//-             <label for="otp">Type in the OTP recieved on
//-                 your registered email and mobile</label>
//-                 <input type="tel" name="otp" >
//-                 <button type="submit" class="submit">Submit</button>
//-             </form>
//-         </div>
//-     </div>
//-     <div class="overlay hidden"></div>