doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        script(defer src="https://kit.fontawesome.com/48411cf139.js" crossorigin="anonymous")
        link(rel="stylesheet", href="/css/main.css")
        title #{title}
    body 
        
    include _header

    main.main 
        .content 
            block content
                h1 Hello Hell




    include _footer

    include _modal

    block scripts 
    //- script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    //- script(src="/js/axios.min.js" type="module") 

    //- script(src="/js/menu.js" type="module")
    script(src="/js/main.js" type="module")


    

