*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  --primary-color: darkslategray;
  --secondary-color: yellowgreen;
  --accent-color: rgba(128, 186, 39, 0.5);
  --text: rgba(0, 0, 0, 0.6);
  --grey: rgba(0, 0, 0, 0.3); }

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--text); }

img {
  width: 100%; }

svg {
  width: 1.5em;
  height: 1.5em; }

ul {
  list-style: none; }

.hidden {
  display: none; }

.overflow {
  height: 100%;
  overflow: scroll; }

.invisible {
  visibility: hidden; }

.missing {
  color: red; }

.highlight {
  font-weight: bold; }

.heading {
  font-size: 2em;
  text-transform: uppercase;
  color: darkslategrey;
  padding-top: 2em; }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 0.2rem 1.5em 0 1.5rem;
  margin: auto;
  overflow: hidden;
  /* border:1px solid black; */ }

.footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 75px; }

header {
  z-index: 1;
  border-bottom: 1px solid var(--grey);
  background-color: #fff;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0; }

.logo {
  width: 200px;
  max-width: 50%; }

.main {
  position: fixed;
  top: 75px;
  bottom: 75px;
  z-index: -1;
  width: 100%;
  overflow: scroll;
  display: flex; }

.content {
  width: 100%; }
  .content .opening-page {
    width: 100%;
    margin: auto; }

.display-list {
  margin: 2em; }

.navigation {
  z-index: 1;
  position: fixed;
  top: 75px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  height: calc(100vh - 75px); }

.nav {
  padding-top: 1em; }
  .nav ul {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto; }
  .nav__item {
    flex-basis: 3em;
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    text-align: center;
    text-transform: uppercase;
    margin: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav__item:hover {
      background-color: yellowgreen; }
    .nav__item a {
      color: darkslategrey;
      text-decoration: none;
      width: 100%;
      height: 100%; }

.tabs > .nav {
  width: 100%;
  height: 75px;
  background-image: linear-gradient(#fff, var(--secondary-color)); }
  .tabs > .nav ul {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; }
    .tabs > .nav ul li.nav__item {
      background: none;
      border: none; }
      .tabs > .nav ul li.nav__item i {
        font-size: 2rem;
        color: var(--primary-color); }

.btn {
  background-color: var(--secondary-color);
  width: fit-content;
  padding: 1em 2em;
  border: none;
  border-radius: 1em;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase; }
  .btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color); }

.exhibitor-card {
  border-radius: 10px;
  border: yellowgreen 1px solid;
  padding: 2em;
  margin: 1em auto;
  display: flex;
  justify-content: space-between; }
  .exhibitor-card h2 {
    color: darkslategrey; }

.exhibitor-details {
  margin: 2em; }

.exhibitor-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end; }
  .exhibitor-icons i {
    margin-bottom: 1rem;
    width: 4rem; }

.menu {
  width: 3.5rem;
  height: 3rem;
  background: none;
  border: none;
  padding: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative; }

.menu:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px var(--accent-color); }

.menu__inner,
.menu__inner:before,
.menu__inner:after {
  position: absolute;
  height: 0.15rem;
  background-color: darkslategrey;
  border-radius: 0.25rem;
  display: block; }

.menu__inner {
  width: 70%;
  left: 15%;
  top: 50%;
  transform: translateY(-50%); }

.menu__inner:before,
.menu__inner:after {
  content: "";
  left: 0;
  width: 100%; }

.menu__inner:before {
  top: -0.75rem; }

.menu__inner:after {
  top: 0.75rem; }

/* Squeeze */
.menu--squeeze .menu__inner,
.menu--squeeze .menu__inner:before,
.menu--squeeze .menu__inner:after {
  transition: top 0.2s 0.2s, transform 0.2s, background-color 0.4s 0.2s; }

.menu--squeeze.menu--active .menu__inner {
  background-color: transparent;
  transition: background-color 0.2s; }

.menu--squeeze.menu--active .menu__inner:before {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s, transform 0.2s 0.14s; }

.menu--squeeze.menu--active .menu__inner:after {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s, transform 0.2s 0.14s; }

.table {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0.875rem;
  height: 100%;
  overflow-y: scroll;
  border-bottom: 1px solid var(--secondary-color); }
  .table .exhibitor__logo {
    width: 25%;
    height: auto; }
  .table .exhibitor__name {
    width: 50%;
    text-align: center;
    height: auto;
    max-height: 50px;
    overflow: scroll; }
  .table .exhibitor__booth {
    width: 25%;
    text-align: center;
    height: auto;
    max-height: 50px;
    overflow: scroll; }
  .table .reviewed {
    width: 15%;
    text-align: center; }
  .table .visited {
    width: 15%;
    text-align: center; }
  .table__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--grey); }
    .table__row:hover {
      background-color: var(--secondary-color); }
  .table__header {
    padding: 0.4rem 0;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    color: var(--secondary-color); }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .form label,
  .form input,
  .form button,
  .form select {
    margin-top: 1em;
    text-align: center; }
  .form label {
    text-transform: uppercase; }
  .form input,
  .form select {
    flex-basis: 50px;
    width: 300px;
    font-size: 1em;
    color: gray; }
  .form button {
    margin-top: 2em;
    padding: 0.75em 3em; }
  .form__group {
    display: flex;
    flex-direction: column; }
  .form__text {
    text-align: center; }

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: DodgerBlue; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px; }

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 5%;
  box-shadow: 10px 10px 30px var(--grey);
  z-index: 10;
  background-color: #fff;
  text-align: center; }
  .modal .close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 2%;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50%; }
  .modal__content {
    width: 80%;
    margin: auto;
    display: grid;
    place-items: center;
    align-content: center;
    height: 100%;
    position: relative; }
  .modal__headline {
    font-size: 2em;
    text-transform: uppercase;
    color: var(--primary-color); }
  .modal__body {
    font-size: 1.2em;
    color: var(--secondary-color); }

.overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: var(--primary-color);
  backdrop-filter: blur(10px); }

.sort-box {
  width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute; }
  .sort-box__heading {
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--primary-color); }

.search-box {
  width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute; }
  .search-box__input {
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--secondary-color);
    height: 3em;
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-color); }
    .search-box__input::placeholder {
      color: var(--grey);
      font-size: 1.5rem; }

.ticket {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: minmax(100px, auto);
  justify-items: center;
  align-items: center;
  grid-template-areas: ". . logo logo logo logo logo . ." ". . code code code code code . ." ". . . . . . . . . " ". . . data data data . . . " ". . . data data data . . ." ". . printTicket printTicket printTicket printTicket printTicket . ."; }
  @media (min-width: 700px) {
    .ticket {
      grid-template-areas: ". . . logo logo logo  . . . " "code code code code . data data data ." "code code code code  . data data data ." "code code code code  . data data data ." "code code code code  . printTicket printTicket printTicket ." ". . . . . . . . ."; } }
  .ticket__logo {
    grid-area: logo; }
  .ticket__data {
    grid-area: data;
    padding: 1em 0; }
    .ticket__data * {
      margin-bottom: 0.5em; }
  .ticket__code {
    grid-area: code; }
  .ticket__name {
    font-size: 1.5em; }
  .ticket__print-ticket {
    grid-area: printTicket; }

.my-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .my-account__nav {
    display: flex;
    margin-bottom: 1em; }
  .my-account form.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .my-account form.form label,
    .my-account form.form input,
    .my-account form.form button {
      margin-top: 1em;
      text-align: center; }
    .my-account form.form label {
      text-transform: uppercase; }
    .my-account form.form input {
      flex-basis: 50px;
      width: 300px; }
    .my-account form.form button {
      margin-top: 2em;
      padding: 0.75em 3em; }
    .my-account form.form .form__group {
      display: flex;
      flex-direction: column; }
  .my-account__content {
    display: grid;
    gap: 20em; }

#settings {
  margin-bottom: 90px; }

.me {
  display: flex;
  flex-direction: column;
  gap: 1em; }
  .me__photo {
    width: 50%;
    border-radius: 100%;
    margin: 0 auto; }

.about {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center; }

.exhibitor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .exhibitor > * {
    margin-bottom: 2em; }
  .exhibitor__logo {
    width: 30%;
    max-width: 150px; }
  .exhibitor__profile {
    width: 70%; }
  .exhibitor__contact > * {
    margin-bottom: 1em; }
  .exhibitor .headline {
    text-transform: uppercase;
    font-weight: bold; }

.pagination {
  width: 100%; }
  .pagination__content {
    width: 90%;
    padding: 1em;
    margin: auto;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1em; }
  .pagination i {
    color: var(--secondary-color); }

.search {
  width: 90%;
  margin: 0 auto;
  font-size: 0.7em;
  position: relative; }
  .search i {
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    color: var(--grey); }
  .search input.keyword {
    width: 100%;
    height: 3em;
    border: 2px solid var(--secondary-color);
    padding: 0.3em;
    border-radius: 1em; }

.login {
  text-align: center;
  margin: auto; }
  .login h2 {
    margin-top: 2em; }

.print-ticket {
  display: grid;
  place-items: center;
  height: 100vh;
  text-align: center; }
  .print-ticket__border {
    padding: 2em 1em;
    background-color: white;
    border: 1px dotted black;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-template-areas: ". logo logo logo  ." ". type type type ." ". barcode barcode barcode  ." "name name name name name" "company company company company company" "profile profile profile profile profile" "country country country country country"; }
  .print-ticket__logo {
    grid-area: logo; }
  .print-ticket__type {
    grid-area: type;
    font-size: 2em;
    text-transform: uppercase; }
  .print-ticket__barcode {
    grid-area: barcode; }
  .print-ticket__name {
    grid-area: name;
    font-size: 1.2em;
    text-transform: uppercase; }
  .print-ticket__company {
    grid-area: company;
    font-size: 0.8em;
    text-transform: uppercase; }
  .print-ticket__profile {
    grid-area: profile;
    font-size: 0.8em;
    text-transform: uppercase; }
  .print-ticket__country {
    grid-area: country;
    font-size: 0.8em;
    text-transform: uppercase; }
