.menu {
  //   width: 4rem;
  //   height: 3.5rem;
  width: 3.5rem;
  height: 3rem;
  background: none;
  border: none;
  padding: 0;
  border-radius: 0.5rem;
  // text-indent: 5rem;
  overflow: hidden;
  position: relative;
  // margin-right: 2rem;
}

.menu:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px var(--accent-color);
}

// ksjksj

.menu__inner,
.menu__inner:before,
.menu__inner:after {
  position: absolute;
  height: 0.15rem;
  // background-color: #f6f6f6;
  background-color: darkslategrey;
  border-radius: 0.25rem;
  display: block;
}

.menu__inner {
  width: 70%;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}

.menu__inner:before,
.menu__inner:after {
  content: "";
  left: 0;
  width: 100%;
}

.menu__inner:before {
  top: -0.75rem;
}

.menu__inner:after {
  top: 0.75rem;
}

/* Squeeze */

.menu--squeeze .menu__inner,
.menu--squeeze .menu__inner:before,
.menu--squeeze .menu__inner:after {
  transition: top 0.2s 0.2s, transform 0.2s, background-color 0.4s 0.2s;
}

.menu--squeeze.menu--active .menu__inner {
  background-color: transparent;
  transition: background-color 0.2s;
}

.menu--squeeze.menu--active .menu__inner:before {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s, transform 0.2s 0.14s;
}

.menu--squeeze.menu--active .menu__inner:after {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s, transform 0.2s 0.14s;
}
