.main {
  position: fixed;
  top: 75px;
  bottom: 75px;
  z-index: -1;
  // left: 0;

  width: 100%;
  // margin-top: 75px;
  // margin-bottom: 75px;
  overflow: scroll;
  // height: calc(100vh - 175px);
  display: flex;

  // height: calc(100vh - 150px);
  // background-color: red;
}

.content {
  width: 100%;
  // height: 100%;
  // flex-grow: 1;

  .opening-page {
    width: 100%;
    margin: auto;
  }
}

.display-list {
  margin: 2em;
}

// @media (min-width: 800px) {
//   .flex {
//     display: flex;
//   }

//   .sidebar {
//     width: 300px;
//     background-color: darkslategrey;
//   }
// }
